/*********************************/
/* General Styles
/*********************************/

:root {
    --element-color: #ffffff;
    --page-color: #232323;
    --text-color: #000000;
    --box-shadow-color: 2px 2px 2px 3px rgba(0, 0, 0, 0.303);
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes header-fade {
    from{
        background-color: black; 
        color: white;}
    to{
        background-color: var(--element-color); 
        color: var(--text-color)}
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;

}

/*********************************/
/* Body
/*********************************/

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: white;
    transition: background-color 1s ease; /* Transition to change background-color */
    transition-delay: .3s;
}
body.loaded {
    background-color: var(--page-color);
}

/*********************************/
/* Header
/*********************************/

/* GS */
header {
    text-align: center;
    align-items: center;
    padding: 15px 20px;
    border-width: 2px 0px;

    background-color: black; /* Initial background color */
    transition: background-color 1.25s ease; 
    transition-delay: .75s;
}
header.loaded {
    background-color: white;
}

#graphic a {
    text-decoration: none;
    color: white; /* Initial background color */
    transition: color 1s ease; /* Transition to change background-color */
}
#graphic.loaded a {
    color: black;
}

#graphic h1 {
    align-items: center;
    justify-content: center;

    display: flex;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    font-size: 25px;
}

/*********************************/
/* Main
/*********************************/

.containter {
    display: flex;
}

.grid-1, .grid-2, .grid-3 {
    display: grid;
    gap: 10px;
    padding: 10px;
}

.grid-1 {
    grid-template-rows: auto;
    
}

.grid-2 {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding-top: 0px;
    padding-bottom: 0px;
}

.grid-3 {
    grid-template-rows: auto;

}

.section {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 0px 25px;
    box-shadow: var(--box-shadow-color);
    background-color: var(--element-color);
    opacity: 0; 
    animation: fade-in 2s ease 2.5s forwards;
}

.section h3 {
    margin-bottom: 0px;
    padding: 0px;
}

/* S9 */
#title {
    margin: 0px;
    height: fit-content;
    background-color: var(--element-color);
    opacity: 0; 
    animation: fade-in 1.5s ease 2s forwards;
}

#title h1 {
    color: #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 3px 0px;
    background-color: transparent;
}

/**************************************/
/* Footer */
/**************************************/

footer {
    padding: 5px 0;
    text-align: center;
}
  
.graphic {
    background-color: #444444;
    color: #ffffff;

    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    
    margin: 10px auto;
    line-height: 20px;

    padding: 5px 15px 5px 15px;
    width: fit-content;
    height: fit-content;
    
    border-radius: 25px;
}

.graphic p {
    margin: 0;
    font-size: 16px;
}

.love-note p {
    margin: 0px;
    line-height: 15px;
    padding: 0px;
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
}