/*********************************/
/* General Styles
/*********************************/

html {
    scroll-behavior: smooth;
    background-color: white;
}

/*********************************/
/* Body
/*********************************/

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

/*********************************/
/* Header
/*********************************/

header {
    text-align: center;
    align-items: center;
    padding: 14px 20px;
    border: 2px solid #000000;
    border-width: 2px 0px;
}

#graphic h1 {
    align-items: center;
    justify-content: center;

    display: flex;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;

    background-color: #ffffff;
    color: #000000;
    font-size: 25px;
}

/*********************************/
/* Main
/*********************************/


